@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background: #F3F4F6;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-header-wrapper {
    background-image: url("./resources/background-image@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 40px 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    color: white;
}

.checkout-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 80px;
}

.checkout-header h1 {
    font-size: 25px;
    font-weight: 550;
}

.items-badge {
    background-color: #394150;
    border-radius: 9999px;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 500;
}

.checkout-grid {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    position: relative;
    top: -110px;
    
}

.cart-card {
    background: #D2D5DA;
    border-radius: 16px 0 0 16px;
    padding: 30px;
    position: relative;
    right: -20px;
}

.cart-item {
    display: grid;
    grid-template-columns: 64px 1fr auto auto;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
}

.cart-item .img-container {
    width: 70px;
    height: 80px;
    background: #F3F4F6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item img {
    width: 100%;
    height: 100%;
    padding: 8px 8px ;
    object-fit: contain;
}

.item-info h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0 10px;
    
}

.item-info p {
    font-size: 14px;
    color: #6B7280;
    margin: 0 0 20px 10px;
}

.item-info span {
    font-size: 14px;
    color: #6B7280;
    margin-left: 10px;
}

.item-price {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    margin: 0 -20px 55px 0;
}

.remove-button {
    background: none;
    border: none;
    color: #6B7280;
    font-size: 20px;
    cursor: pointer;
    margin: 55px 0 0 0;
    position: relative;
    left: -10px;
}

.divider {
    height: 1px;
    background: #9CA3AF;
    margin: 16px 0;
}

.coupon-row {
    display: flex;
    gap: 8px;
    margin: 16px 0 16px 0;
}

.coupon-row input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #D1D5DB;
    font-size: 14px;
}

.coupon-row button {
    padding: 12px 18px;
    background: #1D1D1F;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.totals {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.total-row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    color: #394150;
}

.total-final {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    color: #1D1D1F;
}

.contact-card {
    background: #FFFFFF;
    position: relative;
    left: -20px;
    border-radius: 0 16px 16px 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-card h3 {
    font-size: 20px;
    font-weight: 700;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    font-size: 14px;
    color: #394150;
    font-weight: 600;
}

.form-group input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #D1D5DB;
    font-size: 14px;
    background-color: #F3F4F6;
}

.form-groups {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 16px;
    justify-content: space-between;
}

.country {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    color: #394150;
}

.country select {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #D1D5DB;
    font-size: 14px;
    background-color: #F3F4F6;
    margin-top: 8px;
}

.postal-code {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    color: #394150;
}

.postal-code input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #D1D5DB;
    font-size: 14px;
    background-color: #F3F4F6;
    margin-top: 8px;
}

.continue-button {
    margin-top: 16px;
    padding: 16px;
    background: #1D1D1F;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
